<h1>My Résumé</h1>

PDF: <a href="https://docs.google.com/file/d/0B2SYQosqxGHoZWJESHRDMDNhVVk">My Résumé is available off of Google Drive here.</a>
<div class="hidden-xs hidden-sm">
    <hr>
    <iframe style="width:100%; height:600px;" src="https://docs.google.com/viewer?srcid=0B2SYQosqxGHoZWJESHRDMDNhVVk&pid=explorer&efh=false&a=v&chrome=false&embedded=true">
</iframe>
</div>