<% content_for :title do %>About Me<% end %>

<h1>About</h1>
<p>I am currently studying for a Masters in Computer Science at Oxford University. I love learning new technologies, puzzles and gadgets.</p>

<h1>Latest Blog Post</h1>
<%= render partial: "shared/blogpost", locals:{blog: @latestblogpost, size: "sm"} %>

<h1> Education and Experience </h1>
<p> Masters in Computer Science - Oxford University 2010 - 2014</p>
<p> Software Development Engineer in Test - Amazon Development Centre London - Summer 2013</p>

