<h1>About</h1>
<p>Computer Scientist</p>

<h1>Latest Blag Post</h1>
<p>Stuff n Text</p>

<h1> Projects </h1>
<p> This blag </p>

<h1> Education and Experience </h1>
<p> Masters in Computer Science - Oxford University 2010 - 2014</p>
<p> Masters in Computer Science - Oxford University 2010 - 2014</p>
<p> Masters in Computer Science - Oxford University 2010 - 2014</p>
<p> Masters in Computer Science - Oxford University 2010 - 2014</p>
<p> Masters in Computer Science - Oxford University 2010 - 2014</p>
<p> Masters in Computer Science - Oxford University 2010 - 2014</p>
<p> Software Development Engineer in Test - Amazon Development Centre London - Summer 2013</p>

