<article class="blogpost">
    <header class="bloghead">
        <h2><%=blog.title%></h2>
        <p><%= link_to (blog.created_at + " <span class='glyphicon glyphicon-link'></span>".html_safe), blog_id_url(id: blog.id) %></p>
    </header>
    <div class ="blogcontent">
        <p><%=markdown(blog.post)%></p>
    </div>
    <footer>
        <p>~ Ed Shaw</p>
    </footer>
</article>
