<div class="well sidebar-nav">
  <ul class="nav">
    <li><strong>More Me</strong></li>
    <li><a href="https://github.com/EdShaw/"><i class="fa fa-fw fa-github"></i> GitHub</a></li>
    <li><a href="http://www.linkedin.com/profile/view?id=267596592"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="http://careers.stackoverflow.com/edshaw"><i class="fa fa-fw fa-stack-overflow"></i> Careers 2.0</a></li>
    <hr class="nav-hr">
    <!--<li><a href="https://docs.google.com/file/d/0B2SYQosqxGHoWi1rdUM4NGR3MVE"><i class="fa fa-fw fa-file-text-o"></i> My Résumé</a></li>-->
    <li><a href="mailto:edwardshaw9+blog@gmail.com"><i class="fa fa-fw fa-envelope-o"></i> Email Me</a></li>
  </ul>
</div><!--/.well -->
