/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */


body {
    padding-top: 0;
}

header {
    margin-bottom: 0 !important;
}

#topnav {
    border-radius: 0;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.nav-hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #dcdcdc;
}

.blogtitle {
    font-size: 150%;
}

.blogdate {
    font-size: smaller;
}

.blogauthor {
    font-size: larger;
}

.form-elems {
    list-style-type: none;
    list-style-position: 0;
    padding: 0;
}

.form-elems > li {
    margin: 10px;
    margin-left: 0;
}